* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.padding {
  padding: 5%;
}
.App {
  height: 923px;
  position: relative;
  width: 479px;

  margin: 0 auto;
}
nav {
  display: flex;
  backdrop-filter: blur(15px);

  justify-content: space-between;
}

h1 {
  text-align: center;
}
#btn1 {
  z-index: 5;
  cursor: pointer;
}
.categories {
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: -1;
  position: relative;
}
.categories-container {
  background-color: rgb(226, 213, 213);
  height: 90px;
}

.Information {
  text-align: center;
  z-index: 5;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(205, 155, 155, 0.657);

  height: 400px;
  position: absolute;
  width: 331px;
  filter: blur(0rem);
  z-index: 15;
}
.blur {
  cursor: pointer;
}
.test {
  backdrop-filter: 2rem;
}
h4 {
  backdrop-filter: 0;
  z-index: 5;
}
